<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Spam Detector</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
 </head>
 <body>
  <div class="wrapper">
  <!-- <header> -->
   <div class="container">
    <h2>Flask Machine Learning Application for Spam Detection</h2>
   </div>
   <h3>This application detects whether a message is a 'spam' or 'not'.</h3>
  <!-- </header> -->

  <!-- <section> -->
   <div class="ml-container">
    <form action="{{ url_for('predict')}}" method="POST">
     <p>Enter Your Mssage Here</p>
     <textarea id = "message" name="message" rows="6" cols="50" placeholder="Enter your message here"></textarea><br><br>
     <input type="submit" class="btn-submit" value="Predict">
    </form>
   </div>
  <!-- </section> -->
    </div>

 </body>
</html>
